<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.0</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{/index.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
        console.info(ctxPath);
    </script>　
</head>
<body>
    <!-- 顶部开始 -->
    <div class="container" style="margin-top: -20px">
        <div class="logo"><a href="./index.html">X-admin v2.0</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
            <input type="hidden" th:value="${session.userId}" id="userId">
        </div>

        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
              <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
              <dd><a href="./login.html">退出</a></dd>
            </dl>
          </li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="x-body layui-anim layui-anim-up">
                    <blockquote class="layui-elem-quote">欢迎管理员：
                        <span class="x-red">test</span>！当前时间:2018-04-25 20:50:53</blockquote>
                    <fieldset class="layui-elem-field">
                        <legend>数据统计</legend>
                        <div class="layui-field-box">
                            <div class="layui-col-md12">
                                <div class="layui-card">
                                    <div class="layui-card-body">
                                        <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                            <div carousel-item="">
                                                <ul class="layui-row layui-col-space10 layui-this">
                                                    <li class="layui-col-xs2">
                                                        <a href="javascript:;" class="x-admin-backlog-body">
                                                            <h3>文章数</h3>
                                                            <p>
                                                                <cite>66</cite></p>
                                                        </a>
                                                    </li>
                                                    <li class="layui-col-xs2">
                                                        <a href="javascript:;" class="x-admin-backlog-body">
                                                            <h3>会员数</h3>
                                                            <p>
                                                                <cite>12</cite></p>
                                                        </a>
                                                    </li>
                                                    <li class="layui-col-xs2">
                                                        <a href="javascript:;" class="x-admin-backlog-body">
                                                            <h3>回复数</h3>
                                                            <p>
                                                                <cite>99</cite></p>
                                                        </a>
                                                    </li>
                                                    <li class="layui-col-xs2">
                                                        <a href="javascript:;" class="x-admin-backlog-body">
                                                            <h3>商品数</h3>
                                                            <p>
                                                                <cite>67</cite></p>
                                                        </a>
                                                    </li>
                                                    <li class="layui-col-xs2">
                                                        <a href="javascript:;" class="x-admin-backlog-body">
                                                            <h3>文章数</h3>
                                                            <p>
                                                                <cite>67</cite></p>
                                                        </a>
                                                    </li>
                                                    <li class="layui-col-xs2">
                                                        <a href="javascript:;" class="x-admin-backlog-body">
                                                            <h3>文章数</h3>
                                                            <p>
                                                                <cite>6766</cite></p>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field">
                        <legend>系统通知</legend>
                        <div class="layui-field-box">
                            <table class="layui-table" lay-skin="line">
                                <tbody>
                                <tr>
                                    <td >
                                        <a class="x-a" href="/" target="_blank">新版x-admin 2.0上线了</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td >
                                        <a class="x-a" href="/" target="_blank">交流qq群:(519492808)</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field">
                        <legend>系统信息</legend>
                        <div class="layui-field-box">
                            <table class="layui-table">
                                <tbody>
                                <tr>
                                    <th>xxx版本</th>
                                    <td>1.0.180420</td></tr>
                                <tr>
                                    <th>服务器地址</th>
                                    <td>x.xuebingsi.com</td></tr>
                                <tr>
                                    <th>操作系统</th>
                                    <td>WINNT</td></tr>
                                <tr>
                                    <th>运行环境</th>
                                    <td>Apache/2.4.23 (Win32) OpenSSL/1.0.2j mod_fcgid/2.3.9</td></tr>
                                <tr>
                                    <th>PHP版本</th>
                                    <td>5.6.27</td></tr>
                                <tr>
                                    <th>PHP运行方式</th>
                                    <td>cgi-fcgi</td></tr>
                                <tr>
                                    <th>MYSQL版本</th>
                                    <td>5.5.53</td></tr>
                                <tr>
                                    <th>ThinkPHP</th>
                                    <td>5.0.18</td></tr>
                                <tr>
                                    <th>上传附件限制</th>
                                    <td>2M</td></tr>
                                <tr>
                                    <th>执行时间限制</th>
                                    <td>30s</td></tr>
                                <tr>
                                    <th>剩余空间</th>
                                    <td>86015.2M</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <fieldset class="layui-elem-field">
                        <legend>开发团队</legend>
                        <div class="layui-field-box">
                            <table class="layui-table">
                                <tbody>
                                <tr>
                                    <th>版权所有</th>
                                    <td>xuebingsi(xuebingsi)
                                        <a href="http://x.xuebingsi.com/" class='x-a' target="_blank">访问官网</a></td>
                                </tr>
                                <tr>
                                    <th>开发者</th>
                                    <td>马志斌(113664000@qq.com)</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                    <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。</blockquote>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2017 x-admin v2.3 All Rights Reserved</div>  
    </div>

</body>
</html>
