<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqOrder">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="product_id" property="productId" />
        <result column="order_num" property="orderNum" />
        <result column="order_total_price" property="orderTotalPrice" />
        <result column="post_way_type" property="postWayType" />
        <result column="address_id" property="addressId" />
        <result column="post_date_id" property="postDateId" />
        <result column="message" property="message" />
        <result column="order_status" property="orderStatus" />
        <result column="pay_status" property="payStatus" />
        <result column="pay_way" property="payWay" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, product_id AS productId, order_num AS orderNum, order_total_price AS orderTotalPrice, post_way_type AS postWayType, address_id AS addressId, post_date_id AS postDateId, message, order_status AS orderStatus, pay_status AS payStatus, pay_way AS payWay, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, delete_flag AS deleteFlag
    </sql>

    <select id="shopPayList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        pay.id,
        pay.pay_status,
        pay.total_price
        FROM
        wwq_pay AS pay
        where pay.user_id = #{userId}
        and pay.delete_flag = 0
        <if test="payStatus ==0">
            and 1=1
        </if>
        <if test="payStatus !=0">
            and pay.pay_status = #{payStatus}
        </if>
    </select>

    <select id="shopProductOrderList"  parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        so.id as id,
        so.product_id,
        sp.product_name as productName,
        spf.file_path as filePath,
        sp.product_now_price AS productNowPrice,
        sp.product_orgin_price AS productOrginPrice,
        sp.product_type as productType,
        sp.post_price AS postPrice,
        so.order_num AS orderNum,
        so.post_way_type,
        so.order_total_price,
        ifnull(sp.post_price,0) as post_price
        FROM
        wwq_pay_detail AS spd
        LEFT JOIN wwq_order AS so ON so.id = spd.order_id
        LEFT JOIN wwq_product AS sp ON so.product_id = sp.id
        LEFT JOIN wwq_product_file AS spf ON spf.product_id = sp.id and spf.file_type = 0
        WHERE spd.pay_id = #{payId}
        <if test="orderStatus != null">
            AND so.order_status = #{orderStatus}
        </if>
        order by so.create_date desc
    </select>

    <select id="getStatusNumBystatus" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
      		COUNT(*) as num
		FROM
			wwq_pay as sp
		WHERE
			sp.user_id = #{userId}
		AND
			sp.pay_status = #{orderStatus}
		AND
			sp.delete_flag = 0
    </select>

    <select id="shopPayInfo" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        pay.id,
        spd.order_id,
        pay.total_price,
        pay.pay_status,
        pay.create_date
        FROM
        wwq_pay AS pay
        LEFT JOIN wwq_pay_detail as spd ON spd.pay_id = pay.id
        where pay.pay_status = #{payStatus}
        and pay.user_id = #{userId}
    </select>


    <select id="shopProductOrderListById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT
        so.id as id,
        so.product_id,
        sp.product_name as productName,
        spf.file_path as filePath,
        sp.product_now_price AS productNowPrice,
        sp.product_orgin_price AS productOrginPrice,
        sp.product_type as productType,
        ifnull(sp.post_price,0) AS postPrice,
        so.order_num AS orderNum,
        so.post_way_type,
        so.order_total_price,
        sp.post_price,
        so.create_date
        FROM
        wwq_pay_detail AS spd
        LEFT JOIN wwq_order AS so ON so.id = spd.order_id
        LEFT JOIN wwq_product AS sp ON so.product_id = sp.id
        LEFT JOIN wwq_product_file AS spf ON spf.product_id = sp.id and spf.file_type = 0
        WHERE spd.pay_id = #{payId}
        <if test="orderStatus != null">
            AND so.order_status = #{orderStatus}
        </if>
        order by so.create_date desc
    </select>


    <select id="selectPostDate" parameterType="java.lang.String" resultType="java.util.Map">
          SELECT wpw.`id` ,wpw.`post_date_name`  FROM `wwq_post_date` as wpw WHERE wpw.`delete_flag`  = 0
    </select>


    <select id="selectPostWay" parameterType="java.lang.String" resultType="java.util.Map">
          SELECT wpw.`id` ,wpw.`post_way_name`  FROM `wwq_post_way` as wpw WHERE wpw.`delete_flag`  = 0
    </select>

    <select id="selectDefaultAddress" parameterType="java.lang.String" resultType="com.example.wwq.entity.WwqAddress">
        select * from wwq_address as sa WHERE sa.default_address = 1 and sa.delete_flag = 0 AND sa.user_id = #{userId}
    </select>

</mapper>
