<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wwq.mapper.WwqScoreMallMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.wwq.entity.WwqScoreMall">
        <id column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="remain_num" property="remainNum" />
        <result column="exchange_scroe" property="exchangeScroe" />
        <result column="remark" property="remark" />
        <result column="create_date" property="createDate" />
        <result column="create_user" property="createUser" />
        <result column="update_date" property="updateDate" />
        <result column="update_user" property="updateUser" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_id AS productId, remain_num AS remainNum, exchange_scroe AS exchangeScroe, remark, create_date AS createDate, create_user AS createUser, update_date AS updateDate, update_user AS updateUser, delete_flag AS deleteFlag
    </sql>

    <select id="getScoreMallProductList" resultType="java.util.Map">
         select s.id,
              p.id as productId;
               p.`product_name`,
               s.`remain_num`,
               s.`exchange_scroe`,
               f.`file_path`
          from wwq_score_mall as s
          LEFT JOIN `wwq_product` as p on p.`id`= s.`product_id` AND p.`deleteFlag`= 0
          LEFT JOIN `wwq_product_file` as f on p.`id`= f.`product_id` and f.`deleteFlag` =0
         where s.delete_flag= 0
    </select>
</mapper>
